* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

body {
  height: 100vh;
  font-family: 'Poppins', sans-serif;
}

header {
  background-color: rgb(252, 252, 252);
}

#header {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 5px;
}

.logo a {
  text-decoration: none;
  font-size: 24px;
  font-weight: 600;
  color: #16507b;
  margin-left: 15px;
}

#menu-desktop ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

#menu-desktop ul li a {
  text-decoration: none;
  padding: 5px 15px;
  color: #124265;
  font-weight: 500;
}

#menu-desktop ul li a:hover {
  color: #007bff;
}

#menu-mobile {
  color: #124265;
  font-size: 20px;
  position: relative;
  cursor: pointer;
  display: none;
}

#menu-mobile ul {
  background-color: rgb(252, 252, 252);
  position: absolute;
  top: 55px;
  right: 0;
  width: 100vw;
  opacity: 0;
  transition: 0.7s;
}

#menu-mobile ul li {
  font-size: 16px;
  text-align: center;
  padding-bottom: 10px;
}

#menu-mobile ul li a {
  text-decoration: none;
  color: #124265;
  font-weight: 500;
}

.show-menu-mobile {
  opacity: 1 !important;
}

#menu-mobile ul li a:hover {
  color: #007bff;
}

#main {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
  margin-top: 80px;
}

#main h2 {
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 5px;
  color: #16507b;
}

#main button {
  background-color: #007bff;
  color: white;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  padding: 8px 30px;
  border: 0;
  border-radius: 6px;
  margin-top: 20px;
  cursor: pointer;
  transition: 0.5s;
}

#main button:hover {
  background-color: #124265;
}

#cards {
  max-width: 1200px;
  margin: 80px auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  width: 280px;
  margin: 10px;
  padding: 30px 20px;
  box-shadow: 1px 1px 20px rgb(228, 227, 227);
  display: flex;
  flex-direction: column;
  gap: 15px;
  cursor: pointer;
  transition: 0.5s;
}

.card:hover {
  -webkit-transform: scale(1.07);
  transform: scale(1.07);
}

.card i {
  color: #007bff;
  font-size: 24px;
}

.card h3 {
  color: #124265;
  font-size: 18px;
}

.card p {
  color: gray;
  font-size: 14px;
  line-height: 30px;
}

.subtitle {
  color: #16507b;
  margin-bottom: 10px;
  font-size: 26px;
}

#box-about {
  max-width: 75%;
  margin: 0 auto;
}

#about {
  text-align: center;
  margin-bottom: 40px;
}

#more-about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  margin-bottom: 80px;
}

#more-about p {
  margin-bottom: 10px;
}

#more-about div i {
  color: #007bff;
  font-size: 14px;
  margin-left: 15px;
}

#more-about button {
  padding: 8px 15px;
  background-color: transparent;
  border: 2px solid #007bff;
  color: #007bff;
  font-weight: 700;
  transition: 0.5s;
}

#more-about button:hover {
  background-color: #007bff;
  color: white;
}

#achievements {
  background-color: rgba(245, 245, 245, 0.884);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
  padding: 20px 0px;
}

#achievements div {
  width: 200px;
  margin-bottom: 20px;
}

#achievements div p {
  font-weight: 600;
}

#achievements div p:first-child {
  color: #16507b;
  font-size: 30px;
  font-weight: 700;
}

#informations {
  max-width: 1200px;
  margin: 80px auto;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

#informations div img {
  width: 100%;
  border-radius: 3px;
}

#informations div p {
  margin: 15px 0;
}

#informations div i {
  color: #007bff;
  font-size: 14px;
  margin-left: 15px;
}

#clients {
  background-color: rgba(245, 245, 245, 0.884);
}

#clients div {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 40px 0;
}

#clients div img {
  width: 90px;
  margin: 10px 20px;
  filter: grayscale(100%);
  transition: 0.7s;
}

#clients div img:hover {
  filter: grayscale(0);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

#testimonials {
  max-width: 1200px;
  margin: 80px auto;
  text-align: center;
}

#box-testimonials {
  display: flex;
  gap: 20px;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.box-testimonial {
  width: 350px;
  margin-top: 30px;
}

.box-testimonial div {
  background-color: rgba(245, 245, 245, 0.884);
  padding: 20px;
}

.box-testimonial img {
  width: 100px;
  margin: 10px 0;
  border-radius: 50%;
}

#box-testimonials i.fas.fa-quote-left,
#box-testimonials i.fas.fa-quote-right {
  color: rgb(175, 175, 175);
  padding: 0 8px;
}

.text-testimonial {
  font-style: italic;
  font-weight: 300;
  font-size: 15px;
}

.name-testimonial {
  font-weight: 600;
}

.role-testimonial {
  color: rgb(175, 175, 175);
  font-size: 14px;
}

@media only screen and (max-width: 670px) {
  #menu-desktop {
    display: none;
  }

  #menu-mobile {
    display: block;
  }

  .card {
    width: 100%;
  }

  #box-about {
    max-width: 100%;
    margin: 0 20px;
  }

  #more-about {
    grid-template-columns: 1fr;
  }

  #informations {
    grid-template-columns: 1fr;
    margin: 40px 20px;
  }
}
